// Variable overrides


//to apply Dark-mode
//Jin's Code

.light-theme {
    transition: all 0.5s;
    --primary-color: white;
    --secondary-color: #f9f9f9;
    --text-color: #212121;
    --secondary-text-color: #6c757d;
  }
  .dark-theme {
    transition: all 0.5s;
    --primary-color: #212121;
    --secondary-color: #2b2a2a;
    --text-color: white;
    --secondary-text-color: gray;
  }
